.box {
  border: 1px black solid;
  border-radius: 6px;
  background-color: #eeeeee;
  width: 240px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin: 10px;
}

.button {
  width: 160px;
  height: 30px;
  margin-top: 15px;
  margin-left: 3px;
}
